# Numbers

In [13]:
type("14")

str

In [14]:
type(14)

int

In [15]:
type(14.0)

float

In [4]:
0.2+0.1

0.30000000000000004

Use precise centavos instead of pesos to avoid ^

## Round Down

In [6]:
int(3.74)

3

In [9]:
a="14.0"
float(a)

14.0

In [1]:
a="14.0"
int(a) # Error bc it converts from string to float to integer

ValueError: invalid literal for int() with base 10: '14.0'

# Boolean
Only false when 0

In [11]:
bool(0)

False

In [12]:
bool(1)

True

# Computation
Addition + <br>
Subtraction - <br>
Multiplication * <br>
Division / (always float)<br>
Floor division // (always integer)<br>
Modulus % (returns remainder)<br>
Exponentiation **

In [17]:
5**2

25

In [18]:
4/2

2.0

In [7]:
15//4

3

In [160]:
4%3

1

In [10]:
5%4

1

# Comparisons
== Equal to <br>
!= Not equal to <br>
< Less than<br>
">" Greater than<br>
<= Less than or equal to<br>
">=" Greater than or equal to

# Logic
"and" true if both are True<br>
"or" one value True<br>
"not" opposite value

In [33]:
a= True
b=False
c=False

print(a!=b)
print(a and b)
print(a or b)
print(not a)
print (3 and 0) # 0 = False

True
False
True
False
0

# String Operations and Method
## Concatenation

In [20]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)
print(result*3)

Hello World
Hello WorldHello WorldHello World

## Indexing
* Find position within order
* Starting position is 0

In [22]:
print(str1[0])
print(str1[3])
print(str1[-1]) # Cycles back to the end
# print(str1[5]) # Error since no letter after "O"

H
l
o

## Length
Can be used for character length or list length

In [50]:
print(len(str1))

5

## Uppercase and Lowercase

In [52]:
str1 = "Hello"
upper_case = str1.upper()
lower_case = str1.lower()
print(upper_case)
print(lower_case)

HELLO
hello

## Replacement
Replaces instance of substring with another substring

In [93]:
string1 = "Hello, World"
string2 = string1.replace("World", "Python")
print(string2)
str3="yas"

Hello, Python

## Splitting
Splits string into list of

In [66]:
string1.split(",")

['Hello', ' World']

# Practice

In [95]:
print(str3) # depends on what ran before it

yas

In [87]:
str3 = " ,y,y,y,y,y,y"
str3.split(",")

[' ', 'y', 'y', 'y', 'y', 'y', 'y']

In [70]:
str3.split("y")

['', ',', ',', ',', ',', ',', '']

In [75]:
str4 = "Hellow world"
str4.split("w")

Hellow world

In [88]:
print(str4.upper())

HELLOW WORLD

In [89]:
str4 = "HelloW world"
str4.split("H")

['', 'elloW world']

In [102]:
"hey"
"hello" # outputs last on jupiter ntbk

'hello'

In [101]:
print("hey")
print("hello") # output all when printed

hey
hello

In [5]:
question = input("I love ___ ")
print("I love " + question+"!")

I love ___  me

I love me!

In [4]:
question = input("Input:")

Input: e

In [3]:
question = input("String: ")
reverse = question[::-1]
print(reverse.upper())

String:  3

3

In [159]:
a = "edward"
print(a[0:2])
print(a[0:])
print(a[::-1]) # double colon

ed
edward
drawde

In [2]:
new = 2
float(new)
typee = type(new)
print(typee)

<class 'int'>

In [1]:
number = float(input("enter number: "))
integer = int(number)
if integer % 2 == 0:
    result = "even"
else:
    result = "odd"
    
print(result)

enter number:  3

odd

# Day 2 Lecture - Conditional Functions

In [8]:
# Multiple conditions
num = 0

if num > 0 :
    print("Positive")
elif num < 0 :
    print("Negative")

In [17]:
# Boolean values
Yes = 1 # Will output false if not 1

if Yes == True:
    print("True")
else:
    print("False")

True

In [18]:
# Nested Values
num = 12

if num > 0:
    print("Positive")
    if num % 2 == 0:
        print("Even")
    else :
        print("Odd")
else:
    print("Not positive")

Positive
Even

# For Loop

In [ ]:
# template
for variable in sequence :

In [34]:
# Example 1 - Range
for num in range (1,6): #last iteration not part
    print(num)

1
2
3
4
5

In [42]:
# Example 1.1 - Numbers 1 to 10 in multiples of X, skip counting
for num in range (15,2,-3): #range(start,stop,step)
    print(num)

15
12
9
6
3

In [41]:
# Example 2: Print each character of string
message = "Hello World!"
for char in message : 
    print(char)

H
e
l
l
o

W
o
r
l
d
!

In [45]:
# Example 2.1: Stop at certain character
message = "Hello World!"
for char in message : 
    if char != "l": # not equal to "l"
        print(char)
    else:
        break # stops function completely

H
e

In [47]:
# Example 2.2: Skip certain character
message = "Hello World!"
for char in message : 
    if char == "l": # not equal to "l"
        continue
    else:
        print(char)

H
e
o

W
o
r
d
!

# While Loop

In [ ]:
while condition :

In [44]:
# Example 3: Print 1 to 5
num = 1
while num <= 5 :
    print(num)
    num += 1 # same as num = num + 1 (can be used all math operations)

1
2
3
4
5

In [50]:
for i in range(5) : # 0 to 5 range counting
   print(i)

0
1
2
3
4

In [58]:
# Example 4: Print pattern
for i in range(5) :
    for j in range(i+1) :
        print("*", end="") # dont move to next line
    print()

*
**
***
****
*****

In [62]:
# Example 5 : Guess number, ends loop once target variable is found
target_number = 42
guess = None # empty variable

while guess != target_number:
    guess = int(input("Guess: "))
    
    if guess < target_number :
        print("Too low")
    elif guess > target_number :
        print("Too high")
    else :
        print("Correct")

Guess:  3

Too low

Guess:  42

Correct

In [65]:
# Example 6: Check for even numbers with break and continue 
numbers = [1,2,3,4,5,6,7,8,9,10] # loops until end of array or break

for num in numbers:
    if num % 2 == 0:
        print("Even number:", num)
        break # stops loop
    else:
        print("Skip odd number:", num)
        continue

Skip odd number: 1
Even number: 2

In [68]:
# Example 7 : Count odd integers in while loop
count = 0
number = 1

while True: # loops forever
    if number > 15:
        break
    elif number % 2 == 0:
        number += 1
        continue
    else:
        print("Current number: ", number)
        count += 1
        number += 1
print("Total count: ", count)

Current number:  1
Current number:  3
Current number:  5
Current number:  7
Current number:  9
Current number:  11
Current number:  13
Current number:  15
Total count:  8

In [71]:
# Example 7 : Count odd integers in while loop
count = 0
number = 1

while number <= 15 :
    if number % 2 == 0:
        number += 1
        continue
    else:
        print("Current number: ", number)
        count += 1
        number += 1
print("Total count: ", count)

Current number:  1
Current number:  3
Current number:  5
Current number:  7
Current number:  9
Current number:  11
Current number:  13
Current number:  15
Total count:  8

Program that prompts user for integer n and  prints triangle pattern, having n rows

In [ ]:
rows = input("Enter number of rows: ")
rows = int(rows)
for i in range(rows) :
    for j in range(i+1) :
        if i+1 != 1 :
            print("* ", end="") # dont move to next line
        
        else :
            print("* ", end="")
    print()

Enter number of rows:  5

*
* * * *
* * * * * *
* * * * * * * *
* * * * * * * * * *

In [95]:
rows = input("Enter number of rows: ")
rows = int(rows)
for i in range(1, rows+1) :
    print(" "*(rows - i) + "*"*(2*i-1))

Enter number of rows:  5

    *
   ***
  *****
 *******
*********

In [100]:
rows = input("Enter number of rows: ")
rows = int(rows)
for i in range(1, rows+1) : # use i as variable !
    space = " " * (rows-i)
    asterisk = "*" * (2*i-1)
    print(space + asterisk)

Enter number of rows:  5

    *
   ***
  *****
 *******
*********

In [ ]:
# walrus operator

a:=5

#assignment statement into epression

In [112]:
n = int(input("Integer: "))
count = n

while count >= 0 :
    factorial *= (n - 1)
    count-= 1
    
print(factorial)

Integer:  4

ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [125]:
n = int(input("Positive Integer: "))

if n==0:
    print("No factorial")
elif n<0:
    print("No negative")
else :
    factorial = 1
    while n > 0 :
        factorial *= n
        n -= 1
    
print(factorial)

Integer:  5

120

# Day 5 - Pandas

In [ ]:
import pandas as pd