In [2]:
number = float(input("enter number: "))
integer = int(number)
if integer % 2 == 0:
    result = "even"
else:
        result = "odd"
print(result)

enter number:  3

odd

In [4]:
question = input("String: ")
reverse = question[::-1]
print(reverse.upper())

String:  hey

YEH

In [7]:
number = float(input("enter number: "))
integer = int(number)
if integer ==0:
    result = "special"
elif integer % 2 == 0:
    result = "even"
else:
        result = "odd"
print(result)

enter number:  2

even

In [11]:
def add1(number): # defines function
        output = number + 1
        return(output) 
    
number = int(input("input number: ")) 
add1(number) # calling function

input number:  5

6

In [12]:
def square(number):
    output = number ** 2
    return(output)

number = int(input("input number: ")) 
square(number) # calling function

input number:  4

16

In [18]:
def table(number):
    one = number * 1
    two = number * 2
    three = number * 3
    four = number * 4
    five = number * 5
    six = number * 6
    seven = number * 7
    eight = number * 8
    return(one)
    return(two)

number = int(input("input a number: ")) 
table(number)

input a number:  3

3

In [ ]:
def multiply(number):
    string = ""
    while mult <=15:
        new_mult = number * muktiply
        multiply = multiply + 1
        string = string + new_mult

# Practice

In [37]:
# Calculate wage
hours = input("Enter hours: ")
pay = input("Enter pay: ")
try:
    hours = float(hours)
    pay = float(pay)
    wage = hours * pay
except: 
    wage = -1
    
if wage < 0 :
    print("Error, please enter numeric input")
else:
    print("Wage: "+ str(wage))

Enter hours:  3
Enter pay:  3

Wage: 9.0

In [51]:
def computePay(hours, rate):
    wage = float(hours) * 10 + float(rate) * 15
    return(wage)

hours = input("Enter hours: ")
rate = input("Enter rate: ")

try: 
    float(hours)
    float(rate)
except:
    print("Error, please try a numerical input")
    
computePay(hours, rate)

Enter hours:  3
Enter rate:  3

75.0

In [52]:
#message = "INFORMATION_AGE"
#len_message = len(message)
len_message = 15
shift = 4

amount = shift - (len_message - ((len_message // shift) * shift))
print(amount)

amount2 = len_message - (len_message // shift)*shift
print(amount2)

1
3

In [54]:
15//4

3