In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns


# Loading data
df = pd.read_csv('updated_passengers.csv')
df.head(5)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,booking_destination,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,origin,destination
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,China,0,0,0,7.21,1,AKL,HGH
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,India,1,0,0,5.52,0,AKL,DEL
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,India,0,0,0,5.52,0,AKL,DEL
3,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,India,1,1,0,5.52,0,AKL,DEL
4,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,India,0,0,1,5.52,0,AKL,DEL