In [2]:
import pandas as pd
df = pd.read_csv("fct_invoice.csv")

df.head(5)

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon

Easy
1. How many unique customers are there in the dataset? Can you identify any frequent or loyal customers?

In [6]:
print("Unique customers: "+ str(df['customer_id'].nunique()))
print("Top customers:")
df['customer_id'].value_counts()

Unique customers: 5191
Top customers:

50      128
7       121
4       117
80      113
74      112
       ...
8042      1
5931      1
5867      1
5451      1
7274      1
Name: customer_id, Length: 5191, dtype: int64

2. What are the different categories of products available? How many unique categories are there?

In [18]:
print("Number of categories: " + str(df['category'].nunique()))
print()
print("Categories:")
for x in df['category'].unique() :
    print(x)

Number of categories: 8

Categories:
Clothing
Shoes
Books
Cosmetics
Food & Beverage
Toys
Technology
Souvenir

3. What are the different payment methods used by customers? Which payment methods are the most popular?

In [15]:
df['payment_method'].nunique()
methods = (df['payment_method'].unique())

print("Payment methods by popularity (amount of times used)")
df['payment_method'].value_counts()

Payment methods by popularity (amount of times used)

Cash           44447
Credit Card    34931
Debit Card     20079
Name: payment_method, dtype: int64

Medium
1. What are the three most popular categories, by total sales?

In [23]:
df['category'].value_counts().head(3)

Clothing           34487
Cosmetics          15097
Food & Beverage    14776
Name: category, dtype: int64

2. What are the total sales attributed to customers over the age of 45?

In [4]:
iv = pd.read_json("dim_customer.json")
df = pd.read_csv("fct_invoice.csv")

iv.rename(columns={"id":"customer_id"})

merged = pd.merge(df,iv,left_on="customer_id",right_on="id")
#over_40 = merged[merged['age']>45].index
#merged.loc[over_40].head()

over_40 = merged.loc[merged['age']>45]
print("Total Sales from people over 40:")
over_40.count()['quantity']
#over_40.count()

Total Sales from people over 40:

32627

As a % of Total Sales

In [99]:
over_40 = merged.loc[merged['age']>45].index
merged.loc[over_40,'40']='over'
below_40 = merged.loc[merged['age']<=45].index
merged.loc[below_40,'40']='below'

count = merged.groupby('40').size()
percentage = count / len(merged) * 100
print("Total purchases based on age (above or below)")
print(percentage)

Total purchases based on age (above or below)
40
below    26.870909
over     32.805132
dtype: float64

3. How is the data distributed across different invoice dates? Are there any seasonal trends or patterns? (Use a graph for this.)

In [21]:
#winter spring summer fall
#merged['season'] = ''

merged['month'] = pd.DatetimeIndex(df['invoice_date']).month

winter = merged.loc[(merged['month']== 12) | 1<=(merged['month']<= 3)].index
merged.loc[winter,'season']='Winter'

spring = merged.loc[(merged['month'] >= 4) & (merged['month'] <= 6)].index
merged.loc[spring, 'season'] = 'Spring'

summer = merged[(merged['month']<= 9) & (merged['month']>= 7)].index
merged.loc[summer,'season'] = 'Summer'

fall = merged[(merged['month']<= 11) & (merged['month']>= 10)].index
merged.loc[fall,'season'] = 'Fall'

merged.head(10)

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall,age,first_name,gender,id,last_name,month,season
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,NaN,William,M,229,Anderson,5,Spring
1,I126377,229,Cosmetics,2,81.32,Credit Card,5/4/2021,Metrocity,NaN,William,M,229,Anderson,12,
2,I178419,229,Shoes,3,1800.51,Debit Card,1/6/2021,Istinye Park,NaN,William,M,229,Anderson,9,Summer
3,I847727,229,Clothing,3,900.24,Credit Card,21/08/2022,Zorlu Center,NaN,William,M,229,Anderson,5,Spring
4,I219251,229,Shoes,5,3000.85,Credit Card,23/06/2022,Istinye Park,NaN,William,M,229,Anderson,10,Fall
5,I208592,229,Cosmetics,4,162.64,Cash,7/1/2023,Emaar Square Mall,NaN,William,M,229,Anderson,5,Spring
6,I321236,229,Souvenir,3,35.19,Cash,5/3/2023,Metropol AVM,NaN,William,M,229,Anderson,3,Winter
7,I312496,229,Cosmetics,4,162.64,Credit Card,15/02/2023,Kanyon,NaN,William,M,229,Anderson,1,Winter
8,I778140,229,Souvenir,1,11.73,Debit Card,16/06/2021,Istinye Park,NaN,William,M,229,Anderson,4,Spring
9,I303334,229,Shoes,1,600.17,Cash,19/04/2022,Kanyon,NaN,William,M,229,Anderson,8,Summer

In [20]:
merged.head(30)

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall,age,first_name,gender,id,last_name,month,season
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,NaN,William,M,229,Anderson,5,Spring
1,I126377,229,Cosmetics,2,81.32,Credit Card,5/4/2021,Metrocity,NaN,William,M,229,Anderson,12,
2,I178419,229,Shoes,3,1800.51,Debit Card,1/6/2021,Istinye Park,NaN,William,M,229,Anderson,9,Summer
3,I847727,229,Clothing,3,900.24,Credit Card,21/08/2022,Zorlu Center,NaN,William,M,229,Anderson,5,Spring
4,I219251,229,Shoes,5,3000.85,Credit Card,23/06/2022,Istinye Park,NaN,William,M,229,Anderson,10,Fall
5,I208592,229,Cosmetics,4,162.64,Cash,7/1/2023,Emaar Square Mall,NaN,William,M,229,Anderson,5,Spring
6,I321236,229,Souvenir,3,35.19,Cash,5/3/2023,Metropol AVM,NaN,William,M,229,Anderson,3,Winter
7,I312496,229,Cosmetics,4,162.64,Credit Card,15/02/2023,Kanyon,NaN,William,M,229,Anderson,1,Winter
8,I778140,229,Souvenir,1,11.73,Debit Card,16/06/2021,Istinye Park,NaN,William,M,229,Anderson,4,Spring
9,I303334,229,Shoes,1,600.17,Cash,19/04/2022,Kanyon,NaN,William,M,229,Anderson,8,Summer
10,I106743,229,Books,2,30.30,Cash,27/09/2021,Emaar Square Mall,NaN,William,M,229,Anderson,12,
11,I239579,229,Clothing,2,600.16,Debit Card,15/11/2022,Mall of Istanbul,NaN,William,M,229,Anderson,10,Fall
12,I869151,229,Cosmetics,3,121.98,Cash,16/06/2022,Forum Istanbul,NaN,William,M,229,Anderson,7,Summer
13,I216168,229,Food & Beverage,2,10.46,Cash,7/3/2022,Metropol AVM,NaN,William,M,229,Anderson,11,Fall
14,I212478,229,Cosmetics,1,40.66,Cash,10/12/2022,Mall of Istanbul,NaN,William,M,229,Anderson,3,Winter
15,I258808,229,Clothing,5,1500.40,Credit Card,7/2/2021,Metrocity,NaN,William,M,229,Anderson,7,Summer
16,I647540,229,Toys,2,71.68,Cash,14/01/2022,Metrocity,NaN,William,M,229,Anderson,1,Winter
17,I237426,229,Clothing,4,1200.32,Cash,10/1/2023,Mall of Istanbul,NaN,William,M,229,Anderson,5,Spring
18,I277177,229,Food & Beverage,3,15.69,Credit Card,12/2/2022,Mall of Istanbul,NaN,William,M,229,Anderson,7,Summer
19,I268634,229,Clothing,1,300.08,Credit Card,19/01/2022,Kanyon,NaN,William,M,229,Anderson,7,Summer
20,I845062,229,Food & Beverage,4,20.92,Debit Card,3/3/2022,Emaar Square Mall,NaN,William,M,229,Anderson,2,Winter
21,I103197,229,Shoes,4,2400.68,Debit Card,12/7/2022,Emaar Square Mall,NaN,William,M,229,Anderson,1,Winter
22,I118170,229,Books,5,75.75,Cash,9/5/2021,Cevahir AVM,NaN,William,M,229,Anderson,6,Spring
23,I760968,229,Food & Beverage,1,5.23,Credit Card,28/02/2021,Mall of Istanbul,NaN,William,M,229,Anderson,10,Fall
24,I170297,229,Food & Beverage,4,20.92,Credit Card,30/01/2021,Viaport Outlet,NaN,William,M,229,Anderson,12,
25,I391966,229,Clothing,2,600.16,Credit Card,27/09/2021,Zorlu Center,NaN,William,M,229,Anderson,5,Spring
26,I125773,229,Books,3,45.45,Credit Card,7/12/2022,Emaar Square Mall,NaN,William,M,229,Anderson,4,Spring
27,I138488,229,Clothing,5,1500.40,Cash,3/10/2022,Metrocity,NaN,William,M,229,Anderson,10,Fall
28,I170987,229,Clothing,3,900.24,Debit Card,9/2/2021,Zorlu Center,NaN,William,M,229,Anderson,8,Summer
29,I183267,229,Clothing,2,600.16,Cash,23/06/2022,Metropol AVM,NaN,William,M,229,Anderson,4,Spring

In [ ]:
spring = merged.loc[4<=(merged['month']<=6)].index
merged.loc[spring,'season']='Spring'

summer = merged.loc[7<=(merged['month']<=9)].index
merged.loc[summer,'season']='Summer'

fall = merged.loc[10<=(merged['month']<=11)].index
merged.loc[fall,'season']='Fall'