In [2]:
import pandas as pd

df = pd.read_csv("meningitis_dataset.csv")

df.head(10)

,id,surname,firstname,middlename,gender,state,settlement,report_date,report_year,age_str,date_of_birth,disease,serotype,health_status,report_outcome,unconfirmed,confirmed,null_serotype
0,1,Solade,Grace,Solape,Female,Rivers,Rural,5/15/2018,2018,32 years,1/17/1986,Cholera,null serotype,alive,confirmed,0,1,1
1,2,Eneche,Kure,Balogun,Male,Ebonyi,Rural,2/28/2017,2017,32 years,9/1/1985,Marburg Virus,Null,Alive,Confirmed,1,0,1
2,3,Sanusi,Adaugo,Katerine,Female,Ogun,Urban,3/2/2012,2012,24 years,5/1/1988,Marburg Virus,Null,Dead,Not Confirmed,1,0,1
3,4,Sowore,Mooslemat,Ifedayo,Female,Ondo,Rural,5/21/2010,2010,63 years,5/24/1947,Measles,Null,Alive,Not Confirmed,1,0,1
4,5,Abdusalam,Yusuf,Okafor,Male,Oyo,Urban,8/28/2017,2017,9 years,1/7/2008,Rubella Mars,Null,Alive,Confirmed,1,0,1
5,6,Yakubu,Janet,Chioma,Female,Kaduna,Rural,6/27/2012,2012,44 years,6/6/1968,Ebola,Null,Alive,Confirmed,1,0,1
6,7,Razak,Adaugo,Adaobi,Female,Taraba,Rural,4/1/2010,2010,61 years,7/19/1949,Yellow Fever,Null,Alive,Confirmed,0,1,1
7,8,Annakyi,Danmbazzu,Osagie,Male,Katsina,Rural,10/4/2015,2015,2 months,12/18/2014,Diarrhoea,Null,Alive,Not Confirmed,1,0,1
8,9,Adejoro,Iyin,Osatimehin,Male,Katsina,Rural,11/14/2011,2011,54 years,8/5/1957,Rubella Mars,Null,Alive,Confirmed,1,0,1
9,10,Okorie,Adaugo,Chika,Female,Osun,Urban,6/17/2014,2014,15 years,10/19/1999,Marburg Virus,Null,Alive,Confirmed,1,0,1

In [9]:
# female 1, male 0
# disease column

female = df[df['gender']=='Female'].index
df.loc[female,'gender_index']=1
male = df[df['gender']=='Male'].index
df.loc[male,'gender_index']=0

,id,surname,firstname,middlename,gender,state,settlement,report_date,report_year,age_str,date_of_birth,disease,serotype,health_status,report_outcome,unconfirmed,confirmed,null_serotype,gender_index
0,1,Solade,Grace,Solape,Female,Rivers,Rural,5/15/2018,2018,32 years,1/17/1986,Cholera,null serotype,alive,confirmed,0,1,1,1.0
1,2,Eneche,Kure,Balogun,Male,Ebonyi,Rural,2/28/2017,2017,32 years,9/1/1985,Marburg Virus,Null,Alive,Confirmed,1,0,1,0.0
2,3,Sanusi,Adaugo,Katerine,Female,Ogun,Urban,3/2/2012,2012,24 years,5/1/1988,Marburg Virus,Null,Dead,Not Confirmed,1,0,1,1.0
3,4,Sowore,Mooslemat,Ifedayo,Female,Ondo,Rural,5/21/2010,2010,63 years,5/24/1947,Measles,Null,Alive,Not Confirmed,1,0,1,1.0
4,5,Abdusalam,Yusuf,Okafor,Male,Oyo,Urban,8/28/2017,2017,9 years,1/7/2008,Rubella Mars,Null,Alive,Confirmed,1,0,1,0.0

In [36]:
pd.set_option('display.max_columns', None)

diseases = df['disease'].unique()

for disease in diseases :
    filtered = df[df['disease']==disease].index
    df.loc[filtered,disease]=1

    filtered = df[df['disease']!=disease].index
    df.loc[filtered,disease]=0

df.head(10)

,id,surname,firstname,middlename,gender,state,settlement,report_date,report_year,age_str,date_of_birth,disease,serotype,health_status,report_outcome,unconfirmed,confirmed,null_serotype,gender_index,Cholera,Marburg Virus,Measles,Rubella Mars,Ebola,Yellow Fever,Diarrhoea,Meningitis,Malaria,Viral Haemmorrhaphic Fever,1
0,1,Solade,Grace,Solape,Female,Rivers,Rural,5/15/2018,2018,32 years,1/17/1986,Cholera,null serotype,alive,confirmed,0,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Eneche,Kure,Balogun,Male,Ebonyi,Rural,2/28/2017,2017,32 years,9/1/1985,Marburg Virus,Null,Alive,Confirmed,1,0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Sanusi,Adaugo,Katerine,Female,Ogun,Urban,3/2/2012,2012,24 years,5/1/1988,Marburg Virus,Null,Dead,Not Confirmed,1,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Sowore,Mooslemat,Ifedayo,Female,Ondo,Rural,5/21/2010,2010,63 years,5/24/1947,Measles,Null,Alive,Not Confirmed,1,0,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Abdusalam,Yusuf,Okafor,Male,Oyo,Urban,8/28/2017,2017,9 years,1/7/2008,Rubella Mars,Null,Alive,Confirmed,1,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Yakubu,Janet,Chioma,Female,Kaduna,Rural,6/27/2012,2012,44 years,6/6/1968,Ebola,Null,Alive,Confirmed,1,0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,Razak,Adaugo,Adaobi,Female,Taraba,Rural,4/1/2010,2010,61 years,7/19/1949,Yellow Fever,Null,Alive,Confirmed,0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
7,8,Annakyi,Danmbazzu,Osagie,Male,Katsina,Rural,10/4/2015,2015,2 months,12/18/2014,Diarrhoea,Null,Alive,Not Confirmed,1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,9,Adejoro,Iyin,Osatimehin,Male,Katsina,Rural,11/14/2011,2011,54 years,8/5/1957,Rubella Mars,Null,Alive,Confirmed,1,0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,Okorie,Adaugo,Chika,Female,Osun,Urban,6/17/2014,2014,15 years,10/19/1999,Marburg Virus,Null,Alive,Confirmed,1,0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
by_state = df[df['state']=='Rivers']
by_state.head(5)

,id,surname,firstname,middlename,gender,state,settlement,report_date,report_year,age_str,date_of_birth,disease,serotype,health_status,report_outcome,unconfirmed,confirmed,null_serotype,gender_index,Cholera,Marburg Virus,Measles,Rubella Mars,Ebola,Yellow Fever,Diarrhoea,Meningitis,Malaria,Viral Haemmorrhaphic Fever,1
0,1,Solade,Grace,Solape,Female,Rivers,Rural,5/15/2018,2018,32 years,1/17/1986,Cholera,null serotype,alive,confirmed,0,1,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,Eleojo,Adaugo,Aderemi,Female,Rivers,Urban,2/13/2011,2011,14 years,6/2/1997,Malaria,Null,Alive,Confirmed,0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
73,77,Jimoh,Hallimat,Success,Female,Rivers,Rural,2/5/2010,2010,45 years,12/13/1965,Viral Haemmorrhaphic Fever,Null,Dead,Not Confirmed,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
95,99,Oronto,Alimat,Favour,Female,Rivers,Urban,4/27/2014,2014,21 years,2/14/1993,Diarrhoea,Null,Dead,Not Confirmed,1,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
116,120,Sunday,Iyin,Odekumbi,Male,Rivers,Urban,9/18/2013,2013,29 years,12/23/1984,Malaria,Null,Alive,Not Confirmed,1,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [32]:
df_cholera = df.loc[df['Cholera']]==1
df_cholera = df_cholera[['id','gender_index','health_status']]

df_cholera.reset_index().head(5)

   index     id  gender_index  health_status
0    1.0  False         False          False
1    0.0   True          True          False
2    0.0   True          True          False
3    0.0   True          True          False
4    0.0   True          True          False

In [34]:
diseases = df['state'].unique()
print(diseases)

['Rivers' 'Ebonyi' 'Ogun' 'Ondo' 'Oyo' 'Kaduna' 'Taraba' 'Katsina' 'Osun'
 'Niger' 'Cross River' 'Adamawa' 'Nasarawa' 'Imo' 'Abia' 'Yobe' 'Delta'
 'Jigawa' 'Borno' 'Kwara' 'Bayelsa' 'Federal Capital Territory' 'Kogi'
 'Gombe' 'Sokoto' 'Anambra' 'Kebbi' 'Lagos' 'Plateau' 'Zamfara' 'Edo'
 'Ekiti' 'Enugu' 'Bauchi' 'Kano' 'Benue' 'Akwa Ibom' 1]