In [1]:
# Creating lists
my_list = [1, 2, 3, 4, 5]
empty_list = []

# Accessing elements
print(my_list[0])  # Output: 1
print(my_list[1])  # Output: 2

# Slicing a list
print(my_list[1:4])  # Output: [2, 3, 4]

# Modifying elements
my_list[0] = 0
print(my_list)  # Output: [0, 2, 3, 4, 5]

# List length
print(len(my_list))  # Output: 5

1
2
[2, 3, 4]
[0, 2, 3, 4, 5]
5

In [ ]:
list_1 = [1, 2, 3]
list_2 = [1, 2, 3]

In [ ]:
list_1 = [1, 2, 3]
list_2 = list_1

In [ ]:
list_2[0] = 10

list_1[0] # What does this evaluate to: 0 or 10? Try it yourself.

In [ ]:
some_list = [1, 2, 3]

def mutate_list(list_parameter):
	list_parameter[0] = 10

some_list[0] # What does this evaluate to?

mutate_list(list_parameter)

some_list[0] # What does this evaluate to now? Try it yourself.

In [ ]:
# Adding elements to a list
my_list = [1, 2, 3]
my_list.append(4) # [1, 2, 3, 4]

# Changing elements
my_list[0] = 0 # [0, 2, 3, 4]

# Removing elements
my_list.pop() # [0, 2, 3]
del my_list[1] # [0, 3]

In [ ]:
# Sorting a list
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
print(my_list)  # Output: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

# Reversing a list
my_list.reverse()
print(my_list)  # Output: [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [ ]:
# Creating dictionaries
my_dict = {
    "name": "Bob",
    "age": 30,
    "city": "San Francisco"
}
empty_dict = {}

# Accessing values
print(my_dict["name"])  # Output: Bob

# Modifying values
my_dict["age"] = 40
print(my_dict)  # Output: {'name': 'Bob', 'age': 40, 'city': 'San Francisco'}

# Dictionary length
print(len(my_dict))  # Output: 3

# Adding key-value pairs
my_dict["job"] = "Developer"
print(my_dict)  # Output: {'name': 'Bob', 'age': 40, 'city': 'San Francisco', 'job': 'Developer'}

# Removing key-value pairs
del my_dict["city"]
print(my_dict)  # Output: {'name': 'Bob', 'age': 40, 'job': 'Developer'}

# Checking if a key exists
print("name" in my_dict)  # Output: True

# Looping through a dictionary
for key, value in my_dict.items():
    print(key, value)

In [ ]:
languages_dict = {
    "English": {
        "speakers": 1132,
        "countries": ["USA", "UK", "Australia", "Canada", "India", "South Africa"]
    },
    "Mandarin": {
        "speakers": 1090,
        "countries": ["China", "Taiwan", "Singapore"]
    },
    "Spanish": {
        "speakers": 460,
        "countries": ["Spain", "Mexico", "Colombia", "Argentina", "Peru"]
    },
    "Arabic": {
        "speakers": 255,
        "countries": ["Egypt", "Algeria", "Saudi Arabia", "Iraq", "Morocco"]
    }
}

In [ ]:
# A tuple is an immutable, ordered collection of elements
# You can create a tuple using parentheses or the `tuple()` function
my_tuple = (1, 2, 3)
another_tuple = tuple(["apple", "banana", "cherry"])

# You can access elements of a tuple using indexing
print(my_tuple[0])  # output: 1

# Tuples are immutable, meaning you cannot add, remove, or modify elements
try:
    my_tuple[0] = 4
except TypeError: #TypeError just simply means the operation you were trying on the object was 
                    #inappropriate
    print("Tuples are immutable!")  # output: Tuples are immutable!

In [ ]:
my_tuple[0]=4

In [ ]:
# A set is an unordered collection of unique elements
# You can create a set using curly braces or the `set()` function
my_set = {1, 2, 3}
another_set = set(["apple", "banana", "cherry"])

# You can add elements to a set using the `add()` method
my_set.add(4)
print(my_set)  # output: {1, 2, 3, 4}

# You can remove elements from a set using the `remove()` method
my_set.remove(4)
print(my_set)  # output: {1, 2, 3}

# Sets are useful for performing mathematical operations like union, intersection, and difference
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union: returns a set containing all elements from both sets (no duplicates)
print(set1.union(set2))  # output: {1, 2, 3, 4, 5, 6}

# Intersection: returns a set containing all elements that are in both sets
print(set1.intersection(set2))  # output: {3, 4}

# Difference: returns a set containing all elements that are in set1 but not set2
print(set1.difference(set2))  # output: {1, 2}

In [ ]:
my_list = [1, 2, 3, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)  # output: {1, 2, 3, 4, 5}

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Define your transformation
# You can use a function for this
def square(x):
	return x ** 2

squared_numbers = []
for number in numbers:
	squared_numbers.append(square(numbers))

squared_numbers # [1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Define your transformation
# You can use a function for this
def square(x):
	return x ** 2

# Need an extra call to list because map is lazy
squared_numbers = list(map(square, numbers)) # Syntax ===> map(function, iterations)

squared_numbers # [1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Need an extra call to list because map is lazy
squared_numbers = list(map(lambda x: x ** 2, numbers))

squared_numbers # [1, 4, 9, 16, 25]

In [2]:
List_of_names=["Jen", "Sabina", "Meg", "Marga"]

Upper_Names=list(map(lambda u: u.upper(),List_of_names))
Lower_Names=list(map(lambda l: l.lower(),List_of_names))

print(Upper_Names, Lower_Names)

['JEN', 'SABINA', 'MEG', 'MARGA'] ['jen', 'sabina', 'meg', 'marga']